/* Header */
$font: #030E4E
$li-color: #ff0029

header
  font-family: 'Noto Sans', sans-serif
  position: fixed
  width: 100%
  top: 0
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1.5em
  background-image: linear-gradient(#0099cc, #33ccff)
  box-shadow: 0 0 20px 0 black
  h1
    margin: 0
    color: #fff
.menu-ul
  list-style-type: none
  position: relative
  font-weight: bold
  color: $font
  margin: 0
  a 
    color: inherit
  li 
    display: inline-block
    position: relative
    background: #fff
    padding: 0.8em
    margin: 0 0 0 0.5em
    cursor: pointer
    border: 2px solid $li-color
    border-radius: 6px
    transition: background 0.2s, color 0.2s, border 0.4s
    &:after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      border: 1px solid transparent
      border-radius: 6px
      left: 0
      top: 0
      box-shadow: 0 0 6px 1px darken( $li-color, 20% )
      opacity: 0
      transition: opacity 0.3s
    &:hover
      background: $li-color
      color: #fff
      border: 2px solid darken( $li-color, 20% )
      &:after
        opacity: 1

.li-arrow:before
  content: ''
  position: absolute
  bottom: -22px
  left: 50%
  border-top: 20px solid $li-color
  border-left: 20px solid transparent
  border-right: 20px solid transparent
  transition: all 0.3s
.li-arrow-up:before
  transform: translateX(-50%) translateY(-20px)
  opacity: 0
.li-arrow-down:before
  transform: translateX(-50%) translateY(0)
  opacity: 1


.login-prompt
  position: absolute
  top: 100%
  margin-top: 22px
  right: 0
  background: #fff
  border: 2px solid $li-color
  border-radius: 6px
  text-align: right
  padding: 1.5em 2em
  transform-origin: 100% 0
  transition: all 0.3s
.login-prompt-appear
  opacity: 0
  transform: scale(0.5)
.login-prompt-appear-active
  opacity: 1
  transform: scale(1)

.login-prompt form
  text-align: center
  input[type="email"], input[type="password"]
    width: 100%
    border: 0
    border-bottom: 1px solid $li-color
    text-align: center
    margin-bottom: 0.5em
  input[type="submit"]
    color: white
    margin-top: 0.5em
    background: $li-color
    border: 2px solid #fff
    border-radius: 6px
    padding: 0.4em 0.8em
    transition: all 0.3s
    &:hover
      border: 2px solid $li-color
      background: #fff
      color: $font
.login-prompt p
  text-align: center
  margin-bottom: 0