$li-color: #ff0029
$pic-dimension: 120px

.profile-right
  position: fixed
  padding-right: 1.5em

.profile-card
  background-image: linear-gradient(#006080, #0099cc)
  padding: 1.5em
  border: 2px solid darken(#006080, 10%)
  border-radius: 6px
  color: #fff
  display: flex
  flex-wrap: wrap
  align-items: center
  h2
    margin: 0

.profile-pic
  width: $pic-dimension
  height: $pic-dimension
  transform: rotate(45deg)
  overflow: hidden
  position: relative

.profile-pic-border
  top: 0
  left: 0
  position: absolute
  width: $pic-dimension
  height: $pic-dimension
  transform: rotate(45deg)
  overflow: hidden

.profile-pic-border-inner
  width: $pic-dimension
  height: $pic-dimension
  transform: rotate(-45deg)
  border: 2px solid $li-color

.profile-pic-inner
  width: $pic-dimension
  height: $pic-dimension
  background-size: cover
  background-position: center
  transform: rotate(-45deg)
  border: 2px solid $li-color

.profile-name
  padding-left: 1.5em

.profile-desc
  width: 100%
  margin-bottom: 0