@import "normalize"
@include normalize();

@import "susy"
$susy: (columns: 12, gutters: 1/2, gutter-position: before, global-box-sizing: border-box)

@import "fonts"
@import "main"
@import "header"
@import "profile"

.main-content
  @include container(100%)

.left-col
  @include span(7)
  margin-left: 0

.right-col
  @include span(5)

.profile-form
  padding: 2em
  border: 2px solid black
  input
    display: block